@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;403;433;500;567;600;611;694;700;747;781;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding: 0px;
}
/* hr */

hr {
	border: none;
	height: 2px;
	background: #000;
	background: repeating-linear-gradient(90deg,rgb(255, 189, 102),rgb(252, 164, 0) 6px,transparent 6px,transparent 12px);
}

h1.headings {
	font-family: 'Sora', sans-serif;
	font-size: 70px;
	font-weight: 900;
	text-align: left;
	padding: 30px 20px 0px 30px;
	margin: 0px;
    /* font-variant-caps: all-petite-caps; */;
}

h3.headings {
	font-family: 'Sora', sans-serif;
	font-size: 30px;
	font-weight: 800;
	text-align: left;
	padding: 0px 20px 5px 30px;
}

nav.navbar {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background-image: linear-gradient(-243deg, #ff9d5b, #ff7300);
	box-shadow: 0px 0px 15px 0 rgba(59, 37, 255, 0.4);
	margin-bottom: 20px;
}

.nav-link {
	font-size: 16px;
}

a.navbar-brand {
	size: 20px;
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	font-weight: 500;
	margin-left: 30px;
	white-space: normal;
	font-size: 25px;
}

.logo {
	width: 35px;
	height: 35px;
	margin: 0px;
	justify-content: center;
	margin-right: 5px;
}

.nav-item {
	margin-left: 15px;
	margin-right: 15px;
}

.btn {
	border-radius: 45px;
	border: 3px solid #5e1381;
	background-color: #5cd7e0;
	font-weight: 600;
}

.main {
	padding: 40px;
	margin: 10px;
}

.sec1 {
	background-image: url(assets/svg/blob-scene-haikei-seminar.svg);
	background-repeat: no-repeat;
  /* background-attachment: fixed; */
	background-size: cover;
	margin-bottom: 50px;
	background-attachment: fixed;
	margin-top: -20px;
}

.sec1 .row {
	margin-top: 20px;
	padding: 60px;
	padding-bottom: 100px;
	margin: 40px;
	border: 0px solid #000;
	background-color: #fff;
	border-radius: 40px;
	box-shadow: 8px 8px rgba(0,0,0,0.7),
              8.1px 8.1px 20px rgba(172, 86, 230, 0.2);
              /* 16.5px 16.5px #fff;
} */;
}

.content {
  /* justify-content: center; */
  /* display: grid; */
	border: 0px solid #ff7300;
	padding: 30px;
	margin: 30px;
	border-radius: 20px;
	box-shadow: 1px 1px 5px #000;
	border-top: 4px solid #2487E8;
	max-width: 350px;
	max-height: 350px;
	list-style-type: none;
}

.content ul {
	text-decoration: center;
	list-style: none;
	text-align: left;
}

.content ul li a {
	text-decoration: none;
	color: #2487E8;
}
/* article */

.headings-1 {
	font-family: 'Sora', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #2487E8;
}

.heading-nest a {
	font-family: 'Sora', sans-serif;
	text-align: center;
	text-decoration: none;
	color: #2487E8;
}

.author {
	text-align: center;
}

p.big {
	text-align: left;
}

.article-img {
	margin-top: 50px;
}

.big {
	text-align: center;
}

.heading-nest {
	font-family: 'Sora', sans-serif;
	font-size: 30px;
	text-align: center;
	margin: 10px;
}

/* .article {
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
} */

.all {
	padding: 20px;
	margin: 20px;
}

.article-img {
	max-height: 300px;
	padding: 30px 20px 30px 0px;
	margin: 20px 20px 30px 0px;
	width: fit-content;
	height: fit-content;
}

.link-box {
	border: 0px solid #000;
	border-left: 4px solid #2487E8;
	padding: 20px;
	margin: 15px;
	border-radius: 5px;
	width: 800px;
}

.no-btn {
	border: none;
	background-color: none;
}

/* contact */



/* contact */
.contact .info-box {
	text-align: center;
	padding: 20px 0 30px 0;
	background: #fff;
}

.contact .info-box i {
	font-size: 32px;
	border-radius: 50%;
	padding: 8px;
}

.contact .info-box h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 10px 0;
}

.contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.contact .php-email-form {
	padding: 30px 10px 10px 10px;
	margin: 20px 20px 20px 20px;
	background: #fff;
}

div .gy-4 {
	padding: 20px 20px 20px 20px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
	border-radius: 5px;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form button[type=submit] {
	background: #5DC6D1;
	border: 3px solid #621475;
	padding: 10px 24px;
	margin: 10px 10px 10px 10px;
	color: #000;
	transition: 0.4s;
	border-radius: 35px;
}

.contact .php-email-form button[type=submit]:hover {
	background: linear-gradient(-243deg, #ff9d5b, #ff7300);
	box-shadow: 1px solid black;
	border: 3px solid #ff9d5b;
}